z-tabs {
	--component-bg-color: #{$ui_bg_color};
	--component-border-color: #{$ui-border-color};
	--component-tab-bg-selected-color: #{$ui-tab-bg-selected-color};
	--component-disabled-font-color: #{$btn-disabled-font-color};
	--component-table-border-color: #{$table-border-color};
	--component-hover-color: #{$ui-hover-color};
	--component-font-color: #{$font-color};
	--component-link-color: #{$link-color};
}
